parameters:

    paths:
        - src/

    # Level 10 is the highest level
    level: 8

    # Ignore errors in these paths
    excludePaths:
        - src/ShippingProviders/MaystroDeliveryProvider.php
    treatPhpDocTypesAsCertain: false
